{% extends "base.html" %}

{% block title %}
    {% if title %}
        {{ title }} - Microblog
    {% else  %}
        Welcome to Microblog!
    {% endif %}
{% endblock %}

{% block body %}
<h1>Register!</h1>
<form action="" method="POST">
    {{ form.csrf_token }}
    <p id="username">
        {{ form.user_name.label }}<br>
        {{ form.user_name(size=32) }}
        {% for error in form.user_name.errors %}
        <span style="color: darkred;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p id="email">
        {{ form.email.label }}<br>
        {{ form.email(size=120) }}
        {% for error in form.email.errors %}
        <span style="color: darkred;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p id="password">
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
        {% for error in form.password.errors %}
        <span style="color: darkred;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p id="password_confirmation">
        {{ form.password2.label }}<br>
        {{ form.password2(size=32) }}
        {% for error in form.password2.errors %}
        <span style="color: darkred;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p id="submit">
        {{ form.submit() }}
    </p>
</form>
{% endblock %}