{% extends "base.html" %}

{% block title %}
    {% if title %}
        {{ title }} - Microblog
    {% else  %}
        Welcome to Microblog!
    {% endif %}
{% endblock %}

{% block app_content %}
    <h1>User Profile</h1>
    <hr>
    <table>
        <tr>
            <td><img src="{{ user.avatar(64) }}" alt="gravatar"></td>
            <td><h3>User: {{ user.user_name }}</h3></td>
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
            <p>{{ user.followers.count() }} followers,
                {{ user.followed.count() }} following.</p>
            {% if user == current_user %}
                <p>
                    <a href="{{ url_for('edit_profile') }}">
                        Edit your profile
                    </a>
                </p>
            {% elif not current_user.is_following(user) %}
                <p>
                    <a href="{{ url_for('follow_user', user_name=user.user_name) }}">
                        Follow
                    </a>
                </p>
            {% else %}
                <p>
                    <a href="{{ url_for('unfollow_user', user_name=user.user_name) }}">
                        Unfollow
                    </a>
                </p>
        {% endif %}
        </tr>
    </table>
    {% for post in posts %}
        {% include '_post.html' %}
    {%  endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}