{% extends "base.html" %}

{% block title %}
    {% if title %}
        {{ title }} - Microblog
    {% else  %}
        Welcome to Microblog!
    {% endif %}
{% endblock %}

{% block body %}
    <h1>User Profile</h1>
    <hr>
    <table>
        <tr>
            <td><img src="{{ user.avatar(64) }}" alt="gravatar"></td>
            <td><h3>User: {{ user.user_name }}</h3></td>
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
            <p>{{ user.followers.count() }} followers,
                {{ user.followed.count() }} following.</p>
            {% if user == current_user %}
                <p>
                    <a href="{{ url_for('edit_profile') }}">
                        Edit your profile
                    </a>
                </p>
            {% elif not current_user.is_following(user) %}
                <p>
                    <a href="{{ url_for('follow', user_name=user.user_name) }}">
                        Follow
                    </a>
                </p>
        {% else %}
            <p>
                <a href="{{ url_for('unfollow', user_name=user.user_name) }}">
                    Unfollow
                </a>
            </p>
        {% endif %}
        </tr>
    </table>
    <table>
    {% for post in posts %}
        {% include '_post.html' %}
    {%  endfor %}
    </table>
{% endblock %}